header {
    background-color: #202020; 
    color: #fff;
    padding: 20px; 
}

.logo {
    position: absolute;
    font-size: 200%;
    color:gold;
    top: 3%;
    left: 1%;

}

nav ul {
    list-style: none;
}

nav li {
    display: inline;
    margin-right: 20px;
    font-size: 150%;
}

h1 {
    color: rgb(216, 216, 216);
    text-align: center;
    font-size: 90px;
}

a {
    text-decoration: none;
    color: #fff;
}

body {
    margin: 0;
    padding: 0;
    background: rgb(31, 29, 29) url("images/backgrond3.png") repeat;
    background-attachment: fixed;
    background-size: cover;
}

th {
    color: rgb(216, 216, 216);
}

td {
    color: rgb(216, 216, 216);
}

.tools-panel {
    position: fixed;
    top: 150;
    left: 0;
    width: 100px; 
    height: 900px;
    background-color: #202020; 
    color: #fff; 
    padding: 0px; 
}

.image-frame {
    border: 6px solid #fa7000; 
    padding: 10px; 
    border-radius: 10px; 
}

#tools-panel {
    display: none;
}

.advisor-box{
    position: relative;
    width:80%; 
    margin:10%; 
    height:300px; 
    border: 5px inset rgb(216, 216, 216); 
    background-color: rgb(16, 0, 46);
}

.advisor-box:hover{
    background-color: #fa7000;
    cursor: pointer;
}


.advice-container {
    position: absolute;
    display: inline-block;
}


.advisor-portrait {
    width: 100%;
    height: 100%;
    border: 5px solid rgb(216, 216, 216); 
}

.advisor-portrait:hover {
    border: 5px solid #ff7c11; 
}



.overlay-text {
    position: absolute;
    bottom: 5%;
    left: 50%;
    color: rgb(216, 216, 216);
    transform: translate(-50%, 0);
    font-size: 350%;
    transition: opacity 0.3s ease-in-out;
    opacity: 1;
    white-space: nowrap;
    border: 5px solid rgb(255, 255, 255); 
    background-color: rgb(16, 0, 46);

}

.overlay-text-top {
    position: absolute;
    top: 5px;
    left: 50%;
    color: rgb(216, 216, 216);
    transform: translate(-50%, 0);
    font-size: 250%;
    white-space: nowrap;
}


.info-box{
    position: absolute;
    background-color: rgb(16, 0, 46);
    color: gold;
    border: 5px solid #ff7c11;
    overflow: hidden;
    word-wrap: break-word;
    opacity: 0;
}

.advice-container:hover .info-box {
    opacity: 1;
}

.advice-container:hover .overlay-text {
    opacity: 1;
}

.advice-container:hover .advisor-portrait{
    border: 5px solid #ff7c11
}

.chart-container{
    position: relative;
    top: 2%;
    height :60%;
    border: 15px solid rgb(216, 216, 216);
    background-color: rgb(16, 0, 46);
}

.chart-header{
    position: absolute;
    height: 10%;
    width: 100%;
    background-color: rgb(16, 0, 46);
    border-bottom: 5px solid rgb(216, 216, 216);
}

.chart-button{
    position: absolute;
    height: 100%;
    width: 10%;
    border: 5px inset gold;
    box-sizing: border-box;
    background-color: rgb(16, 0, 46);
    color: gold;
    font-size: 150%;
    overflow: hidden;
    word-wrap: break-word;
    cursor: pointer; 
    text-decoration: none; 
    display: flex; 
    align-items: center; 
    justify-content: center;
    font-weight: bold; 
}

.chart-button:hover{
    background-color: rgb(255, 145, 0);
}


.custom-form-field {
    width: 20%;
    margin-bottom: 30px;
    font-size: 30px;
    background-color:  rgb(16, 0, 46);
    border: 5px inset rgb(216, 216, 216);
    color: #ffffff;
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
}


label {
    color:rgb(216, 216, 216);
    font-size: 40px;
    margin-left: 10%;

}

.custom-button{
    color: rgb(216, 216, 216);
    font-size: 300%;
    background-color: rgb(16, 0, 46);
    border: 5px inset rgb(216, 216, 216);
    margin-top: 1%;
    margin-left: 50%;
    transform: translateX(-50%); 
}


button:hover {
    background-color: rgb(255, 145, 0);
    cursor: pointer;
}

.errorlist{
    color:#fa7000;
    font-size: 150%;
    margin-left: 10%
}

.user-data-cell{
    font-size: 270%; 
    color: rgb(216, 216, 216); 
    margin-top: 1%;
    margin-left: 20%; 
    margin-right: 20%;
    background-color: rgb(16, 0, 46);
    border: 5px inset rgb(216, 216, 216);
}

.user-wallet-cell{
    font-size: 270%; 
    color: rgb(216, 216, 216); 
    margin-top: 1%;

    background-color: rgb(16, 0, 46);
    border: 5px inset rgb(216, 216, 216);
}

.user-wallet-guest-cell{
    font-size: 270%; 
    color: rgb(216, 216, 216); 
    margin-top: 1%;

    background-color: rgb(116, 116, 116);
    border: 5px inset rgb(216, 216, 216);
}

.user-wallet-cell:hover{
    background-color: rgb(255, 145, 0);
}

.user-wallet-guest-cell:hover{
    background-color: rgb(255, 145, 0);
}

.profile_data_container{
    margin-left: 20%; 
    margin-right: 20%;
}

/* Wallet */

.wallet-title-box{
    font-size: 300%;
    margin-left: 10%;
    margin-top:5%;
    margin-bottom:5%;
    width: 80%;
    color: rgb(255, 255, 255); 
    border: 5px inset rgb(216, 216, 216);
    background-color: rgb(16, 0, 46);
}

.wallet-title-box-label{
    position: relative;
    left: 0%;
    top:0%;
    background-color: rgb(29, 7, 109);
    border: 5px inset rgb(216, 216, 216);
    color: rgb(255, 255, 255); 
    text-align: center;
}

.wallet-title-box-content{
    display: flex;
    left: 0%;
    top: 0%
}


.wallet-title-box-list{
    font-size: 50%;
    color:#fa7000;
}

.wallet-record-cell{
    font-size: 270%; 
    color: rgb(255, 255, 255); 
    margin-top: 1%;
    background-color: rgb(16, 0, 46);
    border: 5px inset rgb(216, 216, 216);
}

.wallet-record-cell-label{
    position: relative;
    width : 100%;
    background-color : rgb(29, 7, 109);
    border: 5px inset rgb(216, 216, 216);
    box-sizing: border-box;
    text-align: center;
}

.wallet-record-cell-cross {
    position: absolute;
    top: 0px;
    right: 0px;
    height: 100%;
    width: 4%;
    border: 1px inset rgb(216, 216, 216);
    box-sizing: border-box;
    text-align: center;
    background: url("images/cross1.png") center center no-repeat;
    background-size: cover;
}

.wallet-record-cell-cross:hover {
    background: url("images/cross2.png") center center no-repeat;
    background-size: cover;
}


.wallet-record-cell-edit {
    position: absolute;
    top: 0px;
    right: 4%;
    height: 100%;
    width: 4%;
    border: 1px inset rgb(216, 216, 216);
    box-sizing: border-box;
    text-align: center;
    background: url("images/edit1.png") center center no-repeat;
    background-size: cover;
}

.wallet-record-cell-edit:hover {
    background: url("images/edit2.png") center center no-repeat;
    background-size: cover;
}


.wallet-record-cell-transfer {
    position: absolute;
    top: 0px;
    right: 8%;
    height: 100%;
    width: 4%;
    border: 1px inset rgb(216, 216, 216);
    box-sizing: border-box;
    text-align: center;
    background: url("images/arrows1.png") center center no-repeat;
    background-size: cover;
}

.wallet-record-cell-transfer:hover {
    background: url("images/arrows2.png") center center no-repeat;
    background-size: cover;
}


.wallet-record-cell-text {
    position: absolute;
    top: 0px;
    left: 0px;
    height: 100%;
    width: 88%;
    border: 1px inset rgb(216, 216, 216);
    box-sizing: border-box;
}

.wallet-record-cell-text:hover{
    background-color: rgb(255, 145, 0);
}
