{% extends 'getstocksapp/base.html' %}

{% block title %}
    About Us
{% endblock %}

{% block content %}
    <h1>Abaut us</h1>
    <a style= "font-size: 50px; color: gold; text-align: center;">Please note that project is made only in training purposes. Please don't take any actions based on advices you can receive here. </a>
    <h2 style="font-size: 90px; color: gold; text-align: center; ">Services</h2>
    <a style="font-size: 50px; color: gold; text-align: center;">
        This website empowers users by providing the opportunity to review stocks across various global markets. With insightful information and analysis, it serves as a valuable resource, assisting users in making well-informed financial decisions.
    </a>
    <h2 style= "font-size: 90px; color: gold; text-align: center; ">Contact</h2>
    <p style= "font-size: 50px; color: gold; text-align: center;">E-mail: getsomestocks@post.com</p>
    <p style= "font-size: 50px; color: gold; text-align: center;">Phone: 214247641258</p>
    <p style= "font-size: 50px; color: gold; text-align: center;">Disclaimer: These are fake contacts</p>
    {% endblock %}
