<!DOCTYPE html>
<html>

<head>
    <title>{% block title %}Get some stocks{% endblock %}</title>
    {% load static %}
    <link rel="stylesheet" href="{% static 'getstocksapp/style.css' %}">
</head>

<header>
    <nav>
        <ul style="margin-left:12%;">
            <li><a href="{% url 'getstocksapp:home' %}">Homepage</a></li>
            <li><a href="{% url 'getstocksapp:about-us' %}">About us</a></li>
            <li><a href="{% url 'getstocksapp:api-root' %}">API</a></li>
            {% if user.is_authenticated %}
                <li><a href="{% url 'getstocksapp:logoutconfirm' %}">Log out</a></li>
                <li style="float:right; color:#fa7000;">Logged as: {{user}}</li>
                <li style="float:right; color:#fa7000;"><a href="{% url 'getstocksapp:profile' user.id %}">Profile</a></li>
                <li style="float:right; color:#fa7000;"><a href="{% url 'getstocksapp:my-assets' user.id %}">My Assets</a></li>
            {% else %}
                <li><a href="{% url 'getstocksapp:registration' %}">Registration</a></li>
                <li><a href="{% url 'getstocksapp:login' %}">Log in</a></li>
                <li style="float:right; color:#fa7000;">Logged as: Guest</li>
                {% endif %}
            {% if user.is_superuser %}
                <li><a href="{% url 'admin:index' %}">Admin Panel</a></li>
            {% endif %}
        </ul>
    </nav>
    
</header>
<div class="logo">GetSomeStocks</div>
<body>
    {% block content %}{% endblock %}
</body>

</html>