<!DOCTYPE html>
<html>

<head>
    <title>Homepage</title>
</head>


</html>
{% load static %}

<link rel="stylesheet" href="{% static 'getstocksapp/style.css' %}">
<header>
    <nav>
        <ul>
            <li><a href="#">Homepage</a></li>
            <li><a href="#">About us</a></li>
            <li><a href="#">Services</a></li>
            <li><a href="#">Contact</a></li>
        </ul>
    </nav>
</header>
<div class="tools-panel">
    <ul>
        {% for c in country %}
        <a href="{% url 'getstocksapp:countryreview' c.id %}">
            <img style = "margin-left: -35px;" src="{% static c.flag_img %}" alt="{{c.name}}">
        </a>
        {% endfor %}  
    </ul>
</div>

<body>
    <div style="float: right;">
        <iframe
        src="https://sslecal2.investing.com?ecoDayBackground=%23280042&defaultFont=%23000000&innerBorderColor=%23000000&borderColor=%23240066&ecoDayFontColor=%23ff8c00&columns=exc_flags&features=datepicker,timezone&countries=25,32,6,37,72,22,17,39,14,10,35,43,53,56,36,110,11,26,12,4,5&calType=week&timeZone=8&lang=1"
            width="400" height="500" frameborder="1" allowtransparency="true" marginwidth="0" marginheight="0"></iframe>
    </div>
    <div>
        <p style="text-align: center; color: gold; font-size: 70px; margin-top: 0px;">POPULAR STOCKS:</p>
    </div>
    <table border="1" style="margin-left: 200px;">
        <h style="margin-left: 200px; color:gold">tabela</h>
        <tr>
            <th>Date</th>
            <th>Open</th>
            <th>Max</th>
            <th>Min</th>
            <th>Close</th>
            <th>Grown</th>
        </tr>
        {% for index, record in data %}
        <tr>
            <td>{{ record.name }}</td>
            <td>{{ record.Open|floatformat:2 }} USD</td>
            <td>{{ record.High|floatformat:2 }} USD</td>
            <td>{{ record.Low|floatformat:2 }} USD</td>
            <td>{{ record.Close|floatformat:2 }} USD</td>
            <td>
                {% if record.Open < record.Close %}
                    <div style="width: 50px; height: 20px; background-color: green;"></div>
                {% elif record.Open == record.Close %}
                    <div style="width: 50px; height: 20px; background-color: yellow;"></div>
                {% else %}
                    <div style="width: 50px; height: 20px; background-color: red;"></div>
                {% endif %}
            </td>
            
        {% endfor %}
    </table>


</body>


