{% extends 'getstocksapp/base.html' %}

{% block title %}
    Profile
{% endblock %}

{% block content %}
    <div class="profile_data_container">
        <p style="font-size: 350%; color: rgb(216, 216, 216); margin-left: 20%;">Wallets:</p>
        {% for wallet in own_wallets %}
            <a href="{% url 'getstocksapp:wallet' wallet.id %}">
                <div class="user-wallet-cell">
                    <span>{{ wallet.name }}</span>
                    <span style="float:right; color:#fa7000;">{{ wallet.owner }}</span>
                </div>
            </a>
        {% endfor %}
        <form method="post" action="{% url 'getstocksapp:my-assets' user.id %}">
            {% csrf_token %}
            <button class="custom-button" style="margin-top: 5%;" type="submit">Create New Wallet</button>
        </form>
    </div>
    {% if wallets_as_guest %}
    <div class="profile_data_container">
        <p style="font-size: 350%; color: rgb(216, 216, 216); margin-left: 20%;">Wallets you are guest in:</p>
        {% for wallet in wallets_as_guest %}
            <a href="{% url 'getstocksapp:wallet' wallet.id %}">
                <div class="user-wallet-guest-cell">
                    <span>{{ wallet.name }}</span>
                    <span style="float:right; color:#fa7000;">{{ wallet.owner }}</span>
                </div>
            </a>
        {% endfor %}
    </div>
    {% endif %}

{% endblock %}