<!DOCTYPE html>
<html>

<head>
    <title>Homepage</title>
</head>


</html>
{% load static %}

<link rel="stylesheet" href="{% static 'getstocksapp/style.css' %}">
<header>
    <nav>
        <ul>
            <li><a href="{% url 'getstocksapp:home' %}">Homepage</a></li>
            <li><a href="{% url 'getstocksapp:about_us' %}">About us</a></li>
            <li><a href="{% url 'getstocksapp:services' %}">Services</a></li>
            <li><a href="{% url 'getstocksapp:contact' %}">Contact</a></li>
        </ul>
    </nav>
</header>
<body>
    <div>
        <h2 style= "font-size: 90px; color: gold; text-align: center;">Services</h2>
        <a style= "font-size: 50px; color: gold; text-align: center;">
            This website empowers users by providing the opportunity to review stocks across various global markets. With insightful information and analysis, it serves as a valuable resource, assisting users in making well-informed financial decisions.
        </a>
    </div>
</body>