{% extends 'getstocksapp/base.html' %}

{% block title %}
    Services
{% endblock %}

{% block content %}
    <h2 style="font-size: 90px; color: gold; text-align: center; ">Services</h2>
    <a style="font-size: 50px; color: gold; text-align: center;">
        This website empowers users by providing the opportunity to review stocks across various global markets. With insightful information and analysis, it serves as a valuable resource, assisting users in making well-informed financial decisions.
    </a>
{% endblock %}