<!DOCTYPE html>
<html>

<head>
    <title>Ticker Review</title>
</head>


</html>
{% load static %}

<link rel="stylesheet" href="{% static 'getstocksapp/style.css' %}">
<header>
    <nav>
        <ul>
            <li><a href="{% url 'getstocksapp:home' %}">Homepage</a></li>
            <li><a href="{% url 'getstocksapp:about_us' %}">About us</a></li>
            <li><a href="{% url 'getstocksapp:services' %}">Services</a></li>
            <li><a href="{% url 'getstocksapp:contact' %}">Contact</a></li>
        </ul>
    </nav>
</header>

<body>
    <div>
        <h1 style= "font-size: 90px; color: gold; text-align: center;">{{ ticker.company_name }}</h1>
        {% if ticker.company_description != "No data" %}
            <a style="font-size: 20px; color: gold;">{{ ticker.company_description|linebreaks }}</a>
        {% else %}
            <a style="font-size: 20px; color: gold;">No info avalible</a>
        {% endif %}
    </div>
    <div>
        <img style="width: 100%; overflow: hidden;" src="data:image/png;base64,{{ chart }}" alt="Stock data">
    </div>
    <div>
        <h2 style= "font-size: 90px; color: gold; text-align: center;">{{ current_price|floatformat:2 }} {{ ticker.currency }}</h2>
        <a style= "font-size: 50px; color: gold; text-align: center;">Advice: {{ advice }}</a>
    </div>
</body>

