{% extends 'getstocksapp/base.html' %}

{% block title %}
    {{ ticker.ticker_name }} review
{% endblock %}

{% block content %}

<div>
    <h1 style= "font-size: 90px; color: gold; text-align: center;">{{ ticker.company_name }}</h1>
    {% if ticker.company_description != "No data" %}
        <a style="font-size: 20px; color: gold;">{{ ticker.company_description|linebreaks }}</a>
    {% else %}
        <a style="font-size: 20px; color: gold;">No info avalible</a>
    {% endif %}
</div>
<div>
    <img style="width: 100%; overflow: hidden;" src="data:image/png;base64,{{ chart }}" alt="Stock data">
</div>
<div>
    <h2 style= "font-size: 90px; color: gold; text-align: center;">{{ current_price|floatformat:2 }} {{ ticker.currency }}</h2>
    <a style= "font-size: 50px; color: gold; text-align: center;">Advice: {{ advice }}</a>
</div>

{% endblock %}