{% extends 'getstocksapp/base.html' %}

{% block title %}
    {{ ticker.ticker_name }} review
{% endblock %}

{% block content %}

<div>
    <h1 style= "font-size: 600%; color: gold; text-align: center;">{{ ticker.company_name }}</h1>
    {% if ticker.company_description != "No data" %}
        <a style="font-size: 20px; color: gold;">{{ ticker.company_description|linebreaks }}</a>
    {% else %}
        <a style="font-size: 20px; color: gold;">No info avalible</a>
    {% endif %}
</div>

<div>
    <p style= "font-size: 70px; color: #ff7c11; text-align: center;">{{ current_price|floatformat:2 }} {{ ticker.currency }}</p>
    
    <a href="{% url 'getstocksapp:advisor_info' %}?advisor=Single_moving_average">
        <div class="advice-container" style= "top: 47%; left: 10%;">
            <img class="advisor-portrait" src="/static/getstocksapp/images/advisor_img1.png" alt="Advisor 1">
            <div class="overlay-text">{{ advice_single_moving_average }}</div>
            <div class="overlay-text-top">Single moving average</div>
        </div>
    </a>
    <a href="{% url 'getstocksapp:advisor_info' %}?advisor=Double_moving_average">
        <div class="advice-container" style= "top: 47%; right: 10%;">
            <img class="advisor-portrait" src="/static/getstocksapp/images/advisor_img2.png" alt="Advisor 2">
            <div class="overlay-text">{{ advice_double_moving_average }}</div>
            <div class="overlay-text-top">Double moving average</div>
        </div>
    </a>
    <a href="{% url 'getstocksapp:advisor_info' %}?advisor=RSI">
        <div class="advice-container" style= "top: 85%; left: 10%;">
            <img class="advisor-portrait" src="/static/getstocksapp/images/advisor_img3.png" alt="Advisor 3">
            <div class="overlay-text">{{ advice_rsi }}</div>
            <div class="overlay-text-top">RSI</div>
        </div>
    </a>
    <a href="{% url 'getstocksapp:advisor_info' %}?advisor=Mean_reversion">
        <div class="advice-container" style= "top: 85%; right: 10%;">
            <img class="advisor-portrait" src="/static/getstocksapp/images/advisor_img4.png" alt="Advisor 4">
            <div class="overlay-text">{{ advice_mean_reversion }}</div>
            <div class="overlay-text-top">Mean reversion</div>
        </div>
    </a>
    

</div>
<div class="chart-container">
    <div class=chart-header>
        {% for width, title, period in chart_periods %}
            <a class="chart-button" style="left: {{width}}%;" href="{% url 'getstocksapp:tickerreview' ticker.id %}?period={{period}}">{{title}}</a> 
        {% endfor %}
    </div>
    <img style="margin-top: 10%; width: 100%; overflow: hidden;" src="data:image/png;base64,{{ chart }}" alt="Stock data">
</div>


{% endblock %}