{% extends 'getstocksapp/base.html' %}

{% block title %}
    Profile
{% endblock %}

{% block content %}
    <h2 style="font-size: 500%; color: gold; text-align: center; ">{{ user }}</h2>


    <div class="profile_data_container">
        <p style="font-size: 350%; color: gold; margin-left: 20%;">User data:</p>
        {% for name, value in user_data %}
            <div class="user-data-cell">
                <span style="color:#fa7000;">{{ name }}:</span>
                {% if value %}
                    <span>{{ value }}</span>
                {% else %}
                    <span>Unknown</span>
                {% endif %}
            </div>
        {% endfor %}
        {% if 1 == 1 %}
        <a href="{% url 'getstocksapp:profile-edit' user.id %}"><button class="custom-button" type="button">  Edit data  </button></a>
        {% endif %}
    </div>
{% endblock %}