{% extends 'getstocksapp/base.html' %}

{% block title %}
    Profile
{% endblock %}

{% block content %}
    <h2 style="font-size: 500%; color: gold; text-align: center; ">{{ user }}</h2>

    <div class="profile_data_container">
        <p style="font-size: 350%; color: gold; margin-left: 20%;">Wallets:</p>
        {% for wallet in wallets %}
            <a href="{% url 'getstocksapp:wallet' wallet.id %}">
                <div class="user-wallet-cell">
                    <span>{{ wallet.name }}</span>
                    <span style="float:right; color:#fa7000;">{{ wallet.owner }}</span>
                </div>
            </a>
        {% endfor %}
        <form method="post" action="{% url 'getstocksapp:profile' user.id %}">
            {% csrf_token %}
            <button class="custom-button" style="margin-top: 5%;" type="submit">Create New Wallet</button>
        </form>
    </div>
    {% if wallets_as_guest %}
    <div class="profile_data_container">
        <p style="font-size: 350%; color: gold; margin-left: 20%;">Wallets you are guest in:</p>
        {% for wallet in wallets_as_guest %}
            <a href="{% url 'getstocksapp:wallet' wallet.id %}">
                <div class="user-wallet-guest-cell">
                    <span>{{ wallet.name }}</span>
                    <span style="float:right; color:#fa7000;">{{ wallet.owner }}</span>
                </div>
            </a>
        {% endfor %}
    </div>
    {% endif %}
    <div class="profile_data_container">
        <p style="font-size: 350%; color: gold; margin-left: 20%;">User data:</p>
        {% for name, value in user_data %}
            <div class="user-data-cell">
                <span style="color:#fa7000;">{{ name }}:</span>
                {% if value %}
                    <span>{{ value }}</span>
                {% else %}
                    <span>Unknown</span>
                {% endif %}
            </div>
        {% endfor %}
        {% if 1 == 1 %}
        <a href="{% url 'getstocksapp:profile-edit' user.id %}"><button class="custom-button" type="button">  Edit data  </button></a>
        {% endif %}
    </div>
{% endblock %}