{% extends 'getstocksapp/base.html' %}

{% block title %}
    Profile
{% endblock %}

{% block content %}
    <h2 style="font-size: 500%; color: gold; text-align: center; ">{{ user }}</h2>
    <p style="font-size: 350%; color: gold; margin-left: 20%;">User data:</p>
    <div>
    {% for name, value in user_data %}
        <div class="user-data-cell">
            <span style="color:#fa7000;">{{ name }}:</span>
            {% if value %}
            <span>{{ value }}</span>
            {% else %}
            <span>Unknown</span>
            {% endif %}
        </div>
    {% endfor %}
    </div>
    <p style="font-size: 350%; color: gold; margin-left: 20%;">Wallets:</p>


{% endblock %}