{% extends 'getstocksapp/base.html' %}

{% block title %}
    Wallet
{% endblock %}

{% block content %}
<div class="wallet-title-box">
    <div class="wallet-title-box-label">{{ object.name }}</div>
        <p style="margin-top: 0%; text-align: center;">
            You are guest in this wallet. The owner is {{wallet.owner}}
        </p>
        <div>
            {% if guests %}
                <span>Currently, the wallet contains the following guests:</span>
            {% for guest in guests %}
                <span style="color:#ff7c11">{{ guest }} ,</span>
            {% endfor %}
            {% else %}
                <span>There are no guests in this wallet</span>
            {% endif %}
        </div>
        <div style="margin-top: 10%;">
            {% if wealth_by_currencies %}
            <span>Total wealth of this wallet, diverted into currencies:</span>
            {% for currency, value in wealth_by_currencies.items %}
            <p style="color:#ff7c11; text-align: center;">{{value|floatformat:2}} {{currency}}</p>
            {% endfor %}
            {% endif %}


        </div>
    
</div>
{% if records_data %}
    <div>
        {% for record, price, growth_unit, total_value, total_growth in records_data %}
        <div class="wallet-record-cell">
                <div class="wallet-record-cell-label">
                    <a style="color:gold" href="{% url 'getstocksapp:ticker-detail' record.ticker.id %}">
                        <div class="wallet-record-cell-text" style="width: 100%;">{{record.name}}</div>  
                    </a>    
                    <span style="color: rgb(29, 7, 109)">ghost</span>                 
                </div>
                <span style="color: #ff7c11; float:right">{{total_value|floatformat:2}} {{record.ticker.currency}}</span>                 
                <table  style="font-size: 20px; width:80%; border-color: #ff7c11;">
                    <thead>
                        <tr>
                            <th>Ticker</th>
                            <th>Date of purchase</th>
                            <th>Quantity</th>
                            <th>Initial price</th>
                            <th>Current_price</th>
                            <th>Growth per unit</th>
                            <th>Total growth</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr>
                            <td style = "text-align:center;">{{record.ticker.ticker_name}}</td>
                            <td style = "text-align:center;">{{record.creation_time|date:"m-d-Y"}}</td>
                            <td style = "text-align:center;">{{record.quantity}}</td>
                            <td style = "text-align:center;">{{record.init_price}} {{record.ticker.currency}}</td>
                            <td style = "text-align:center;">{{price}} {{record.ticker.currency}}</td>
                            <td style = "text-align:center;">{{growth_unit|floatformat:2}} {{record.ticker.currency}}</td>
                            <td style = "text-align:center;">{{total_growth|floatformat:2}} {{record.ticker.currency}}</td>
                        </tr>
                    </tbody>
                </table>
        </div>
        {% endfor %}
    </div>
{% else %}
    <h2 style="font-size: 500%; color: gold; text-align: center; ">This wallet is empty. Add some stocks from ticker browser</h2>
    <a href="{% url 'getstocksapp:my-assets' user.id %}">
        <button class="custom-button" style ="margin-top: 2%;"type="button">Check other wallets</button>
    </a>
{% endif %}

<a href="{% url 'getstocksapp:wallet-drop-guest' object.id user.id %}">
    <button class="custom-button" style ="margin-top: 2%;"type="button">Leave Wallet</button>
</a>

{% endblock %}

