{% extends 'getstocksapp/base.html' %}

{% block title %}
    Edit Record
{% endblock %}

{% block content %}
<h2 style="font-size: 500%; color: rgb(216, 216, 216); text-align: center; ">Edit record:</h2>
<h2 style="font-size: 500%; color: rgb(216, 216, 216); text-align: center; ">{{record.name}}</h2>
<form method="post">
  {% csrf_token %}
  {{ form.as_p }}
  <button class="custom-button" style="margin-top: 1%;" type="submit">Save Changes</button>
  <button class="custom-button" style="margin-top: 1%;" type="reset">Reset</button>
  <a href="{% url 'getstocksapp:wallet' record.wallet.id %}">
    <button class="custom-button" style="margin-top: 1%;" type="button">Cancel</button>
  </a>
</form>




{% endblock %}
